Pillow
PyPDF2
aiofiles
aiosmtplib
argon2-cffi
cachetools
deepl
directus-sdk-py
elevenlabs
httpx
lxml
openfoodfacts
pdf_reports
pytz
quart
quart-cors
requests
user-agents
werkzeug
gunicorn main:app

