<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{{ WhiteLabel['Bezeichnung'] }} | ECommerce-Shop → Cockpit</title>
	<!--favicon-->
	<link rel="icon" href="https://cdn.personalpeak360.de/white-label/{{ WhiteLabel['Favicon'] }}" type="image/png">
	<!--plugins-->
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<!--Data Tables -->
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<!--plugins-->
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/fullcalendar/css/main.min.css" rel="stylesheet" />
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="https://cdn.personalpeak360.de/syndash/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="https://cdn.personalpeak360.de/syndash/assets/css/pace.min.css" rel="stylesheet" />
	<script src="https://cdn.personalpeak360.de/syndash/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.personalpeak360.de/syndash/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="https://cdn.personalpeak360.de/syndash/assets/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="https://cdn.personalpeak360.de/syndash/assets/css/app.css" />
	<link rel="stylesheet" href="https://cdn.personalpeak360.de/syndash/assets/css/dark-sidebar.css" />
	<link rel="stylesheet" href="https://cdn.personalpeak360.de/syndash/assets/css/dark-theme.css" />

	<script src="https://cdn.personalpeak360.de/assets/custom/benachrichtigung/benachrichtigung.js"></script>
	<link rel="stylesheet" href="https://cdn.personalpeak360.de/assets/custom/benachrichtigung/benachrichtigung.css">
	<script src="https://cdn.personalpeak360.de/assets/vendor/js/vue.js"></script>
</head>

<body>
	{% if callback == "true" %}
		<script>
		let failedAttempts = 0;
		const maxFailedAttempts = 3; // Maximale Anzahl der fehlgeschlagenen Versuche

		function checkPaymentStatus() {
			fetch('https://dashboard.{{ WhiteLabel['Domain'] }}/webhook/{{mollieid}}', {method: 'POST'})
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! status: ${response.status}`);
					}
					return response.json();
				})
				.then(data => {
					if (data.status === 'paid') {
						document.getElementById('status').innerText = 'Zahlungsstatus: Bezahlt';
						clearInterval(paymentInterval);

						// Warte 5 Sekunden und leite dann zur gewünschten URL weiter
						setTimeout(function() {
							window.location.href = "https://dashboard.{{ WhiteLabel['Domain'] }}/cockpit/ECommerce_Shop/erfolgreichBezahlt/{{mollieid}}";
						}, 5000);
					} else if (data.status === 'failed') {
						document.getElementById('status').innerText = 'Zahlungsstatus: Abruf fehlgeschlagen';
						handleFailedAttempt();
					}
				})
				.catch(error => {
					console.error('Fehler beim Abrufen des Zahlungsstatus:', error);
					handleFailedAttempt();
				});
		}

		function handleFailedAttempt() {
			failedAttempts++;
			if (failedAttempts >= maxFailedAttempts) {
				clearInterval(paymentInterval);
				document.getElementById('errorModalButton').click();
			}
		}

		const paymentInterval = setInterval(checkPaymentStatus, 5000); // Wiederhole alle 5 Sekunden
		</script>
	{% endif %}


	<!-- Modal -->
	<div class="modal fade" id="Modal_Zahlung" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" backdrop="static" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="errorModalLabel">Zahlung wird verarbeitet</h5>
			</div>
			<div class="modal-body">
			<!-- Ladeanimation -->
			<div id="loadingSpinner" class="text-center">
				<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Laden...</span>
				</div>
			</div>
			<br><br>
			<p style="text-align: center;" id="status" class="h6">Zahlungsstatus: Überprüfung läuft...</p>
			</div>
		</div>
		</div>
	</div>


	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" style="display: none;" id="errorModalButton" data-bs-toggle="modal" data-bs-target="#errorModal">
	Launch error modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="errorModalLabel">Zahlungsfehler</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		<p>Die Überprüfung der Zahlung konnte nicht abgeschlossen werden. Bitte versuchen Sie, die Zahlung erneut durchzuführen.</p>
		</div>
		<div class="modal-footer">
		<a class="btn btn-primary" href="{{mollie_checkout}}">Erneut probieren</a>
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
		</div>
	</div>
	</div>
	</div>

	<script>
	// Funktion zum Abrufen von URL-Parametern
	function getUrlParameter(name) {
		name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
		var results = regex.exec(location.search);
		return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	}

	// Funktion zum Überprüfen des "callback"-Parameters und zum Öffnen des Popups
	function checkCallbackAndOpenPopup() {
		var callback = getUrlParameter('callback');
		if (callback === 'true') {
			var disclaimerModal = new bootstrap.Modal(document.getElementById('Modal_Zahlung'), {
				backdrop: 'static' // Set backdrop to static to prevent closing on background click
			});
			disclaimerModal.show();
		}
	}

	// Warten, bis das DOM vollständig geladen ist, bevor die Funktion ausgeführt wird
	document.addEventListener('DOMContentLoaded', checkCallbackAndOpenPopup);
	</script>




	<!-- wrapper -->
	<div class="wrapper">
		<!--sidebar-wrapper-->
		{{ sidebar | safe }}
		<!--end sidebar-wrapper-->
		
		{{ header | safe }}


		<!--page-wrapper-->
        <div class="page-wrapper">
            <!--page-content-wrapper-->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="card radius-15">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="mb-0">Kaufe Zusatzfunktionen</h4>
                                <h6 class="mb-0">Schalte Zusatzfunktionen zu einem bestimmten monatlichen Betrag frei.</h6>
                            </div>
                        </div>
                    </div>

                    {% if not Produkte %}
						<div class="card radius-15 bg-light-warning">
							<div class="card-body text-center">
								<h5 class="mb-3">Zurzeit keine (weiteren) Zusatzfunktionen verfügbar</h5>
								<p>Bitte schaue später wieder vorbei oder kontaktiere uns für weitere Informationen.</p>
							</div>
						</div>
					{% else %}
						<div class="row">
							{% for Produkt in Produkte %}
								<div class="col-12 col-lg-4 col-xl-4">
									<div class="card bg-secondary radius-15 h-100">
										<div class="card-body">
											<h5 class="card-title text-white">{{ Produkt['Bezeichnung'] }}</h5>
											<p class="text-white"><b>Beschreibung</b>: {{ Produkt['Beschreibung'] }}</p>

											
											<p class="text-white"><b>Preis</b>: {{ Produkt['Preis'] | replace('.',',') }} € <br>
												<b>Preis (mit Rabatt)</b>: {{ Produkt['Preis_RABATT'] | replace('.',',') }} €</p>
											
											<a class="btn btn-primary" href="https://dashboard.{{ WhiteLabel['Domain'] }}/cockpit/freischalten/{{ Produkt['id'] }}">Freischalten</a>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					{% endif %}
                </div>
            </div>
            <!--end page-content-wrapper-->
        </div>
        <!--end page-wrapper-->

		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		
        {{ footer | safe }}

	</div>
	<!-- end wrapper -->
	
    {{ theme_customizer | safe }}
    
	<!-- JavaScript -->
	<!-- Bootstrap JS -->
	<script src="https://cdn.personalpeak360.de/syndash/assets/js/bootstrap.bundle.min.js"></script>
	
	<!--plugins-->
	<script src="https://cdn.personalpeak360.de/syndash/assets/js/jquery.min.js"></script>
	<script src="https://cdn.personalpeak360.de/syndash/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="https://cdn.personalpeak360.de/syndash/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="https://cdn.personalpeak360.de/syndash/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

	<script>
		new Vue({
			el: '#app',
			data: {
				error: "{{ error }}",
				success: "{{ success }}",
				punkte: "{{ punkte_nachricht }}"
			},
			methods: {
				showMessages() {
					if (this.isErrorVisible) {
						this.showError();
					}
					if (this.isSuccessVisible) {
						this.showSuccess();
					}
					if (this.isPunkteVisible) {
						this.showPunkte();
					}
				},
				showError() {
					// Create an instance of Notyf
					var message = new nachricht({
						duration: 5000,
						position: {
							x: 'right',
							y: 'top',
						},
						dismissible: true
					});
	
					// Display an error notification
					message.error('{{ error }}');
				},
				showSuccess() {
					// Create an instance of Notyf
					var message = new nachricht({
						duration: 5000,
						position: {
							x: 'right',
							y: 'top',
						},
						dismissible: true
					});
	
					// Display a success notification
					message.success('{{ success }}');
				},
				showPunkte() {
					// Create an instance of Notyf
					var message = new nachricht({
						duration: 5000,
						position: {
							x: 'right',
							y: 'top',
						},
						dismissible: true
					});
	
					// Display points notification
					message.success('{{ punkte }}'); // or use message.error() if it should be an error
				}
			},
			computed: {
				isErrorVisible: function () {
					return this.error && this.error !== '' && this.error !== 'None';
				},
				isSuccessVisible: function() {
					return this.success && this.success !== '' && this.success !== 'None';
				},
				isPunkteVisible: function() {
					return this.punkte && this.punkte !== '' && this.punkte !== 'None';
				}
			},
			watch: {
				isErrorVisible(newVal) {
					if (!newVal) {
						this.closeError();
					}
				},
				isSuccessVisible(newVal) {
					if (!newVal) {
						this.closeSuccess();
					}
				},
				isPunkteVisible(newVal) {
					if (!newVal) {
						this.closePunkte(); // You can implement this method if needed
					}
				}
			},
			created() {
				this.$nextTick(() => {
					this.showMessages();
				})
			}
		});
	</script>	
</body>

</html>