<!--header-->
<header class="top-header">
    <nav class="navbar navbar-expand">
        <div class="left-topbar d-flex align-items-center">
            <a href="javascript:;" class="toggle-btn">	<i class="bx bx-menu"></i>
            </a>
        </div>
        <div class="flex-grow-1 search-bar">
            <div class="input-group">
                 <button class="btn btn-search-back search-arrow-back" type="button"><i class="bx bx-arrow-back"></i></button>
                 <input type="text" class="form-control" placeholder="Suche" />
                 <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i></button>
            </div>
        </div>
        <div class="right-topbar ms-auto">
            <ul class="navbar-nav">
                <!--
                  <li class="nav-item dropdown dropdown-lg">
                      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-bs-toggle="dropdown">	<span class="msg-count">6</span>
                          <i class="bx bx-comment-detail vertical-align-middle"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                          <a href="javascript:;">
                              <div class="msg-header">
                                  <h6 class="msg-header-title">6 Neue</h6>
                                  <p class="msg-header-subtitle">Direktnachrichten</p>
                              </div>
                          </a>
                          <div class="header-message-list">
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-1.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Fitnesstrainer John <span class="msg-time float-end">vor 5 Sekunden</span></h6>
                                    <p class="msg-info">Denke daran, genug Wasser zu trinken heute!</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-2.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Ernährungscoach Emily <span class="msg-time float-end">vor 14 Sekunden</span></h6>
                                    <p class="msg-info">Plane heute eine proteinreiche Mahlzeit ein.</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-3.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Fitnesstrainerin Sarah <span class="msg-time float-end">vor 8 Minuten</span></h6>
                                    <p class="msg-info">Heute: 30 Minuten Cardio-Workout!</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-4.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Ernährungscoach Ben <span class="msg-time float-end">vor 15 Minuten</span></h6>
                                    <p class="msg-info">Hast du heute genug Vitamine?</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-5.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Fitnesstrainer Max <span class="msg-time float-end">vor 22 Minuten</span></h6>
                                    <p class="msg-info">Vergiss nicht, gut zu dehnen!</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-6.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Ernährungscoach Laura <span class="msg-time float-end">vor 2 Stunden</span></h6>
                                    <p class="msg-info">Ein grüner Smoothie wäre ideal.</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-7.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Fitnesstrainer David <span class="msg-time float-end">vor 5 Stunden</span></h6>
                                    <p class="msg-info">Heute trainieren wir die Beine!</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-8.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Ernährungscoach Sophia <span class="msg-time float-end">vor 6 Stunden</span></h6>
                                    <p class="msg-info">Frisches Obst zum Frühstück?</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-9.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Fitnesstrainer Tim <span class="msg-time float-end">vor 2 Tagen</span></h6>
                                    <p class="msg-info">Heute starten wir mit Oberkörper!</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-10.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Ernährungscoach Anna <span class="msg-time float-end">vor 5 Tagen</span></h6>
                                    <p class="msg-info">Plane eine gesunde Mahlzeit.</p>
                                  </div>
                                </div>
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                  <div class="user-online">
                                    <img src="https://cdn.personalpeak360.de/syndash/assets/horizontal/images/avatars/avatar-11.png" class="msg-avatar" alt="user avatar">
                                  </div>
                                  <div class="flex-grow-1">
                                    <h6 class="msg-name">Fitnesstrainerin Lisa <span class="msg-time float-end">vor 4 Monaten</span></h6>
                                    <p class="msg-info">Setze dir ein Ziel für die Woche!</p>
                                  </div>
                                </div>
                              </a>
                            </div>								  
                          <a href="javascript:;">
                              <div class="text-center msg-footer">Alle Direktnachrichten anzeigen</div>
                          </a>
                      </div>
                  </li>
                 -->
                <li class="nav-item dropdown dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="javascript:;" data-bs-toggle="dropdown">	<i class="bx bx-bell vertical-align-middle"></i>
                        <span class="msg-count">2</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:;">
                            <div class="msg-header">
                                <h6 class="msg-header-title">2 Neue</h6>
                                <p class="msg-header-subtitle">System-Benachrichtigungen</p>
                            </div>
                        </a>
                        <div class="header-notifications-list">
                            <a class="dropdown-item" href="javascript:;">
                                <div class="d-flex align-items-center">
                                    <div class="notify bg-light-success text-success"><i class='bx bx-check-square'></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="msg-name">Trainingsplan wurde erstellt <span class="msg-time float-end">vor 2 Minuten</span></h6>
                                        <p class="msg-info">Fitnesstrainer John hat Dir einen<br> Trainingsplan zukommen lassen.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="https://dashboard.{{WHITELABEL_Domain}}/">
                                <div class="d-flex align-items-center">
                                    <div class="notify bg-light-shineblue text-shineblue"><i class="bx bx-file"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="msg-name">Neue Rechnung<span class="msg-time float-end">vor 2 Tagen</span></h6>
                                        <p class="msg-info">Es wurde eine neue Rechnung<br> für dich angelegt.<br>(Begleiche diese innerhalb 14 Tage)</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="javascript:;">
                            <div class="text-center msg-footer">Alle Benachrichtigungen anzeigen</div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-user-profile">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                        <div class="d-flex user-box align-items-center">
                            <div class="user-info">
                                <p class="user-name mb-0">{{name}}</p>
                                {% if rolle['Bezeichnung'] == "Super-Admin" %}
                                  <p class="designattion mb-0"><span class="badge bg-danger">{{ rolle['Bezeichnung'] }}</span></p>
                                {% elif rolle['Bezeichnung'] == "Lower-Admin" %}
                                  <p class="designattion mb-0"><span class="badge bg-warning">{{ rolle['Bezeichnung'] }}</span></p>
                                {% else %}
                                  <p class="designattion mb-0"><span class="badge bg-secondary">Nutzer</span></p>
                                {% endif %}
            
                                
                                {% if rolle['Zusatz-Bezeichnung'] == "White-Label" %}
                                  <p class="designattion mb-0"><span class="badge bg-secondary">{{ rolle['Zusatz-Bezeichnung'] }}</span></p>
                                {% elif rolle['Zusatz-Bezeichnung'] == "Basic" %}
                                  <p class="designattion mb-0"><span class="badge bg-secondary">{{ rolle['Zusatz-Bezeichnung'] }}</span></p>
                                {% elif rolle['Zusatz-Bezeichnung'] == "Standard" %}
                                  <p class="designattion mb-0"><span class="badge bg-secondary">{{ rolle['Zusatz-Bezeichnung'] }}</span></p>
                                {% elif rolle['Zusatz-Bezeichnung'] == "Premium" %}
                                  <p class="designattion mb-0"><span class="badge bg-secondary">{{ rolle['Zusatz-Bezeichnung'] }}</span></p>
                                {% endif %}
                            </div>
                            <img src="{{ avatar_url }}" class="user-img" alt="user avatar">
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">	
                        <a class="dropdown-item" href="https://dashboard.{{ WhiteLabel['Domain'] }}/cockpit/profil"><i class="bx bx-user"></i><span>Mein Profil</span></a>
                        <a class="dropdown-item" href="javascript:;" style="cursor: default !important;"><i class="bx bx-coin"></i><span><b>Deine Punkte:</b> {{ Nutzer_Punkte }}</span></a>
                        <div class="dropdown-divider mb-0"></div>
                          <a class="dropdown-item" href="https://auth.{{WhiteLabel['Domain']}}/sperren?redirect_url={{ url }}"><i class="bx bx-lock"></i><span>Bildschirm sperren</span></a>
                          <a class="dropdown-item" href="https://auth.{{ WhiteLabel['Domain'] }}/logout"><i class="bx bx-power-off"></i><span>Abmelden</span></a>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-language">
                  <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                      <div class="lang d-flex">
                          <div><i id="selected-flag" class="flag-icon"></i></div>
                          <div><span id="selected-lang">DE</span></div>
                      </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end" id="language-dropdown">
                      <!-- Die Sprachen werden hier dynamisch hinzugefügt -->
                  </div>

                    <script>
                      function changeLanguage(langCode, flagCode) {
                        selectedLang = langCode;
                        localStorage.setItem('selectedLang', langCode);
                        updateLanguageDisplay(langCode, flagCode);
                        console.log(`Die Sprache wurde zu ${langCode} geändert!`);

                        // CustomEvent auslösen
                        const languageChangedEvent = new CustomEvent('languageChanged', { 
                            detail: { langCode, flagCode } 
                        });
                        document.dispatchEvent(languageChangedEvent); // Event auslösen
                      }

                      function updateLanguageDisplay(langCode, flagCode) {
                          const langElement = document.getElementById('selected-lang');
                          const flagElement = document.getElementById('selected-flag');

                          if (langElement && flagElement) {
                              langElement.textContent = langCode;
                              flagElement.className = `flag-icon ${flagCode}`;
                          } else {
                              console.error('Elemente zum Aktualisieren der Sprache oder des Flags nicht gefunden.');
                          }
                      }
                      let selectedLang = localStorage.getItem('selectedLang') || 'DE'; // Standard ist 'DE' (Deutsch)
                      document.addEventListener('DOMContentLoaded', function() {
                        // Dein JavaScript-Code hier
                        const languages = [
                          { code: "DE", name: "Deutsch", flag: "flag-icon-de" },
                          { code: "EN", name: "English", flag: "flag-icon-um" },
                          { code: "ES", name: "Español", flag: "flag-icon-es" },
                          { code: "AR", name: "العربية", flag: "flag-icon-sa" },
                          { code: "GR", name: "Ελληνικά", flag: "flag-icon-gr" },
                          { code: "RU", name: "Русский", flag: "flag-icon-ru" }
                        ];

                        let selectedFlag = languages.find(lang => lang.code === selectedLang).flag;
                        updateLanguageDisplay(selectedLang, selectedFlag);

                        languages.forEach(lang => {
                            const languageItem = document.createElement('a');
                            languageItem.classList.add('dropdown-item');
                            languageItem.href = "javascript:;";
                            languageItem.setAttribute('onclick', `changeLanguage('${lang.code}', '${lang.flag}')`);
                            languageItem.innerHTML = `<i class="flag-icon ${lang.flag}"></i><span>${lang.name}</span>`;
                            document.getElementById('language-dropdown').appendChild(languageItem);
                        });
                      });
                    </script>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--end header-->


<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Funktion zur Anwendung der Übersetzung
    function applyTranslations(lang) {
      document.querySelectorAll("[data-translate-DE]").forEach((element) => {
        const translation = element.getAttribute(`data-translate-${lang}`);
        if (translation) {
          element.textContent = translation; // Textinhalt aktualisieren
        }
      });
    }

    // Event Listener für Sprachänderung
    document.addEventListener("languageChanged", function (e) {
      const { langCode } = e.detail;
      selectedLang = langCode;
      console.log(`Die Sprache wurde zu ${langCode} geändert!`);
      applyTranslations(langCode);
    });

    // Initiale Übersetzungen anwenden
    console.log(`Initiale Sprache: ${selectedLang}`);
    applyTranslations(selectedLang);
  });
</script>